snippet deb "<f:debug></f:debug>" b
<f:debug inline="${1:false}" title="${2:debug}">{${3:_all}}</f:debug>
endsnippet

snippet trans "<f:translate key=''/>" b
<f:translate key="$1" />
endsnippet

snippet cobj "<f:cObject typoscriptObjectPath='...'" b
<f:cObject typoscriptObjectPath="${1:lib.}" />
endsnippet
