[submodule "pack/dvonrohr/start/emmet-vim"]
	path = pack/dvonrohr/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/dvonrohr/start/ctrlp"]
	path = pack/dvonrohr/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/dvonrohr/start/vim-airline"]
	path = pack/dvonrohr/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dvonrohr/start/vim-airline-themes"]
	path = pack/dvonrohr/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vendor/fonts"]
	path = vendor/fonts
	url = https://github.com/powerline/fonts.git
[submodule "pack/dvonrohr/start/editorconfig-vim"]
	path = pack/dvonrohr/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/dvonrohr/start/vim-fugitive"]
	path = pack/dvonrohr/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/dvonrohr/start/vim-gitgutter"]
	path = pack/dvonrohr/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "pack/dvonrohr/start/syntastic"]
	path = pack/dvonrohr/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/dvonrohr/start/nerdtree"]
	path = pack/dvonrohr/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/dvonrohr/start/vim-colorschemes"]
	path = pack/dvonrohr/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/dvonrohr/start/vim-fluid"]
	path = pack/dvonrohr/start/vim-fluid
	url = https://github.com/mipmip/vim-fluid.git
[submodule "pack/dvonrohr/start/tagbar"]
	path = pack/dvonrohr/start/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "pack/dvonrohr/start/vim-easytags"]
	path = pack/dvonrohr/start/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "pack/dvonrohr/start/vim-misc"]
	path = pack/dvonrohr/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "pack/dvonrohr/start/vim-typoscript"]
	path = pack/dvonrohr/start/vim-typoscript
	url = https://github.com/elmar-hinz/vim.typoscript.git
[submodule "pack/dvonrohr/start/vim-less"]
	path = pack/dvonrohr/start/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "pack/dvonrohr/start/vim-css3"]
	path = pack/dvonrohr/start/vim-css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/dvonrohr/start/vim-css-color"]
	path = pack/dvonrohr/start/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "pack/dvonrohr/start/ultisnips"]
	path = pack/dvonrohr/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/dvonrohr/start/vim-snippets"]
	path = pack/dvonrohr/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack\\dvonrohr\\start\\nerdcommenter"]
	path = pack\\dvonrohr\\start\\nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
