[submodule "pack/dvonrohr/start/emmet-vim"]
	path = pack/dvonrohr/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/dvonrohr/start/ctrlp"]
	path = pack/dvonrohr/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/dvonrohr/start/vim-airline"]
	path = pack/dvonrohr/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dvonrohr/start/vim-airline-themes"]
	path = pack/dvonrohr/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/dvonrohr/start/wombat"]
	path = pack/dvonrohr/start/wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "vendor/fonts"]
	path = vendor/fonts
	url = https://github.com/powerline/fonts.git
[submodule "pack/dvonrohr/start/editorconfig-vim"]
	path = pack/dvonrohr/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
